#navbar{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-top: 2%;
}
#navbar button{
  font-weight: bold;
  background: none;
  border: none;
  font-size: large;
}
#logo{
  height:60px;
  width:70px;
  margin-top: -20px;
}

::-webkit-scrollbar{
  display: none;
}
.shoeInfo{
  height: 380px;
  width:350px;
  border: none;
  margin: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgb(173, 167, 167);
  transition: all 0.3s ease-in-out;
}

.shoeOrigin{
  height:200px;
  width: 200px;
}
#shoes{
  margin-left: 30px;
  display: grid;
  grid-template-columns: auto auto;
  overflow-y: scroll;
  max-height: 80vh;
}
#cart{
  overflow-y: scroll;
  max-height: 80vh;
}
.main-content{
  display: flex;
  margin-top: -5%;
}
#cart>h1{
  margin-left: 200px;
}
#cart>h2{
  margin-left: 200px;
  font-size: 40px;
}
#cartShoe>img{
  height:50px;
  width:50px;
}
#cartShoe button{
  font-weight: bolder;
  font-size: 18px;
  text-align:center;
  border: none;
  margin-left: 30px;
  color: white;
}
#proceed-to-payment-button{
  margin-left: 190px;
  background-color: blue;
  color: white;
  margin-top: -1%;
  border:none;
  height: 50px;
  width:200px;
  border-radius: 10px;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add-shoe-to-cart{
  background-color: blue;
  color: white;
  margin-top: 1%;
  border:none;
  height: 50px;
  width:200px;
  border-radius: 10px;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quantity-changer-button{
  width:30px;
  height:30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}
.flex-center{
  display: flex;
  justify-content: center;
  text-decoration: none;
}
#payment-form>div>button{
  margin-top: 5%;
  width:200px;
  background-color: blue;
  color: white;
  height:40px;
  border-radius: 10px;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
#payment-form>form>input{
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid;
  height: 30px;
}
#back-to-shopping{
  margin-left: 190px;
  background-color: blue;
  color: white;
  margin-top: -1%;
  border:none;
  height: 50px;
  width:200px;
  border-radius: 10px;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}